@page "/fetchdata"

@inject ItemsService itemsService

<PageTitle>Tasks</PageTitle>


<div class="text-white">
    <h1>Personal Tasks</h1>
</div>

<SfGrid DataSource="@personalItems" AllowPaging="true" AllowSorting="true" AllowGrouping="true" >
     <GridPageSettings PageSize="5"></GridPageSettings>
       <GridColumns>
         <GridColumn Field=@nameof(Item.Title) HeaderText="Title" TextAlign="TextAlign.Center" Width="120"></GridColumn>
         <GridColumn Field=@nameof(Item.Status) HeaderText="Status" TextAlign="TextAlign.Center" Width="50"></GridColumn>
         <GridColumn Field=@nameof(Item.Notes) HeaderText="Notes" Format="C2" TextAlign="TextAlign.Center" Width="120"></GridColumn>
         <GridColumn Field=@nameof(Item.Tags) HeaderText="Tags" TextAlign="TextAlign.Center" Width="100"></GridColumn>
         <GridColumn Field=@nameof(Item.Color) HeaderText="Type" TextAlign="TextAlign.Center" Width="50"></GridColumn>
         @*<GridColumn Field=@nameof(Item.Date) HeaderText="Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>*@
       </GridColumns>
</SfGrid>

<div class="text-white" style="margin-top:5rem">
    <h1>Work Tasks</h1>
</div>

<SfGrid DataSource="@workItems" AllowPaging="true" AllowSorting="true" AllowGrouping="true" >
     <GridPageSettings PageSize="5"></GridPageSettings>
       <GridColumns>
         <GridColumn Field=@nameof(Item.Title) HeaderText="Title" TextAlign="TextAlign.Center" Width="120"></GridColumn>
         <GridColumn Field=@nameof(Item.Status) HeaderText="Status" TextAlign="TextAlign.Center" Width="50"></GridColumn>
         <GridColumn Field=@nameof(Item.Notes) HeaderText="Notes" Format="C2" TextAlign="TextAlign.Center" Width="120"></GridColumn>
         <GridColumn Field=@nameof(Item.Tags) HeaderText="Tags" TextAlign="TextAlign.Center" Width="100"></GridColumn>
         <GridColumn Field=@nameof(Item.Color) HeaderText="Type" TextAlign="TextAlign.Center" Width="50"></GridColumn>
        @*<GridColumn Field=@nameof(Item.Date) HeaderText="Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>*@
       </GridColumns>
</SfGrid>

@code {
    private List<Item>? personalItems;
    private List<Item>? workItems;

    protected override void OnInitialized()
    {
        personalItems = itemsService.GetItems(0);
        workItems = itemsService.GetItems(1);
    }

    
}
