@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using CommonUI.Data
@inject WeatherForecastService ForecastService

<div class="text-white">
    <h1>Weather forecast</h1>

    <p>This component demonstrates fetching data from a service.</p>
</div>

<SfGrid DataSource="@forecasts" AllowPaging="true" AllowSorting="true" AllowGrouping="true">
 <GridPageSettings PageSize="5"></GridPageSettings>
   <GridColumns>
     <GridColumn Field=@nameof(WeatherForecast.TemperatureC) HeaderText="Celsius" TextAlign="TextAlign.Right" Width="120"></GridColumn>
     <GridColumn Field=@nameof(WeatherForecast.TemperatureF) HeaderText="Farenheit" TextAlign="TextAlign.Right" Width="150"></GridColumn>
     <GridColumn Field=@nameof(WeatherForecast.Date) HeaderText="Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
     <GridColumn Field=@nameof(WeatherForecast.Summary) HeaderText="Summary" Format="C2" TextAlign="TextAlign.Right" Width="120"></GridColumn>
   </GridColumns>
</SfGrid>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
